.profile {
    .profile-card {
        .social-links {
            a {
                font-size: 20px;
                display: inline-block;
                color: rgba(1, 41, 112, 0.5);
                line-height: 0;
                margin-right: 10px;
                transition: 0.3s;

                &:hover {
                    color: #012970;
                }
            }

        }

        img {
            max-width: 120px;
        }
    }

    .profile-overview {
        .label {
            font-weight: 600;
            color: rgba(1, 41, 112, 0.6);
        }

        .row {
            margin-bottom: 20px;
            font-size: 15px;
        }
    }

}


