.profile .profile-card .social-links a{color:rgba(1,41,112,.5);display:inline-block;font-size:20px;line-height:0;margin-right:10px;transition:.3s}.profile .profile-card .social-links a:hover{color:#012970}.profile .profile-card img{max-width:120px}.profile .profile-overview .label{color:rgba(1,41,112,.6);font-weight:600}.profile .profile-overview .row{font-size:15px;margin-bottom:20px}
